ul
{
    display:flex ;
    list-style-type: none;
    align-items: center;
}
li{
    padding: 15px;
    display:inline;
}
a:hover{
    color: blue;
}
.cards{
    display: flex;
}

.card {
    border: 1px solid black;
    padding: 20px;
    margin: 1ch;
}

@media  (max-width: 900px){
    header{
        
        height: auto;
    }
    
    .cards{
        height: 50px;
    }
    

.logo{
    position :relative;
    left:45%;
    top:5px;
}
.cards{
    display :block;
}
.card img{
    padding-left:10%;
    width:80%;
    height:auto;
}

}
@media print{
    header{
        display:none;
    }

}